.activity_bar {
    min-height: 10em;
    max-height: 100%;
    padding: 0px;
    margin: 0px;
    overflow-y: scroll;
    padding-bottom: 60px;
}
.player_show {
    width: 80%;
    height: 65%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.player_hide {
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.player_title {
    float: left;
    padding: 1em;
    padding-top: 0.5em;
    background: rgba(153, 255, 255, 0.7);
    border: 0.5em solid;
    border-color: white;
    border-radius: 1em;
    height: 3.5em;
    min-width: 5em;
    position: absolute;
    bottom: 0em;
}
.player_dialog_open {
    background: rgba(153, 255, 255, 0.7);
    border: 0.5em solid;
    border-color: white;
    border-radius: 1em;
    padding: 1em;
    padding-top: 0.5em;
    height: 98%;
    overflow-y: auto;
}
.dialog_textbox {
    white-space: pre;
}

.bs-callout {
    padding: 10px;
    margin: 0px 0;
    border: 1px solid #eee;
    border-left-width: 0.7em;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}